<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acteur</title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="div1">
    <h5> Nom et prénom: <span th:text="${acteur.getNom()}+' '+${acteur.getPrenom()}">Nom</span></h5>
    <h5> Naissance: <span th:text="${acteur.getNaissance()}">Nom</span></h5>
    <h5>les Films</h5>
    <!--<a th:each="role:${acteur.getRole()}"th:href="@{'/film/'+${role.getFilm().getId()}}">-->
    <!--<li th:text="${role.getFilm().getTitre()}"></li>-->
    <!--</a>-->
    <a th:each="role , iter:${acteur.getRole()}" th:href="@{'/film/'+${role.getFilm().getId()}}">
        <li  th:text="${acteur.getRole().get(iter.index).getNom()}+' dans le film '+${role.getFilm().getTitre()}"></li>
    </a></div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>