<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: header-css"/>
    <!--<link href="../css/style.css" th:href="@{../css/style.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<table>
    <tr>

        <td><img id="imagegene" th:src="'/affiche/'+${film.affiche}"></td>
        <td>
            <h1 class="titre" th:text="${film.titre}">titre du film</h1>
            <h2 id="resume"><span class="light">Résumé: </span><span th:text="${film.getResume()}">resumé</span></h2>
            <p id="rea"><span class="light">De</span> <span
                    th:text="${film.getRealisateur().getPrenom()+' '+film.getRealisateur().getNom()}">réalisateur</span>
            </p>
            <h2 id="note"><span class="light">Note :</span> <span th:text="${film.getNotation()}">4.5</span></h2>
        </td>

    </tr>
</table>


<!--<h2 id="resume1">Résumé : <span th:text="${film.getResume()}">resumé</span></h2>-->
<h3>les acteurs</h3>
<div class="ui grid">
    <div  th:each="role:${film.getRole()}"><img class="acteur" th:src="'/image/'+${role.personne.photoPath}"><br/>
        <a id="nam" th:text="${role.getPersonne().getPrenom()+' '+role.getPersonne().getNom()}"
           th:href="@{'/acteur/'+${role.getPersonne().getPhotoPath()}}"></a>
    </div>
</div>
<!--<table>
    <tr>
        <td th:each="role:${film.getRole()}"><img class="acteur" th:src="'/image/'+${role.personne.photoPath}"><br/>
            <a id="nom" th:text="${role.getPersonne().getPrenom()+' '+role.getPersonne().getNom()}"
               th:href="@{'/acteur/'+${role.getPersonne().getPhotoPath()}}"></a>
        </td>

    </tr>
</table>-->
    

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>