<!DOCTYPE html>
<!--declaration d'un espace de nommage th dans lequ'elle est stocké thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinéma</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div class="container">

</div>
<div th:replace="fragments/header :: header"/>
<ul>
    <li th:each="Film:${films}"><a th:text="${Film.titre}" th:href="@{'/film/'+${Film.id}}"></a></li>
</ul>
<div th:replace="fragments/footer :: footer"/>
</body>

</html>