
ul,li{
    list-style-type: none;
}
#nom{
    text-align: center;

}
.acteur
{
    width: 240px;
    height: 250px;
}
#note,#rea,#resume{
    text-align: justify;
    font-size: 14px;
    padding:5px;
    width: 50%;

}
.light{
    color: #b3b3b3;
}
.titre{
    text-align: justify;
    font-family:fantasy;
}
#imagegene{
    height:250px;
    width:250px;
    padding:5px;
}
.div1{
    margin-top: 10%;
    margin-bottom: auto;
    text-align: center;
    padding: 5px;
}
img:hover
{

    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}
.footer
{
    margin-top: 70%;
    color: red;
    background: black;
}