<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:fragment="header-css">
        <!-- this is header-css -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
        <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.css"/>-->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}"
              href="/webjars/Semantic-UI/2.4.1/semantic.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../css/style.css"/>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/font-awesome.min.css">-->

    </th:block>


</head>
<body>
<div th:fragment="header">


</div>
</body>
</html>